<!-- Navbar component -->
<nav>
    <ul class="hidden lg:flex gap-20 justify-center items-center text-gray-300">
        <li><a routerLink="/home"    routerLinkActive="text-white font-medium" class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">Home</a></li>
        <li><a routerLink="/mac"     routerLinkActive="text-white font-medium" class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">Mac</a></li>
        <li><a routerLink="/ipad"    routerLinkActive="text-white font-medium" class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">iPad</a></li>
        <li><a routerLink="/iphone"  routerLinkActive="text-white font-medium" class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">iPhone</a></li>
        <li><a routerLink="/watch"   routerLinkActive="text-white font-medium" class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">Watch</a></li>
        <li><a routerLink="/airpods" routerLinkActive="text-white font-medium" class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">AirPods</a></li>
        <li><a routerLink="/admin"   routerLinkActive="text-white font-medium" class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">Admin</a></li>
    </ul>
</nav>