<!-- Navbar component -->
<nav class="bg-gray-800 flex justify-between items-center w-full px-4 py-2 text-white">
    <!-- Home link visible only in mobile view -->
    <a class="text-gray-300 hover:text-white lg:hidden" routerLink="/home" routerLinkActive="text-white font-medium">Inicio</a>

    <!-- Desktop Navbar: Centered -->
    <ul class="hidden lg:flex gap-5 lg:gap-20 items-center justify-center flex-1 text-gray-300 text-sm xl:text-base">
        <li><a routerLink="/home"    routerLinkActive="text-white font-medium"
                class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">Inicio</a></li>
        <li><a routerLink="/mac"     routerLinkActive="text-white font-medium"
                class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">MacBook</a></li>
        <li><a routerLink="/ipad"    routerLinkActive="text-white font-medium"
                class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">iPad</a></li>
        <li><a routerLink="/iphone"  routerLinkActive="text-white font-medium"
                class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">iPhone</a></li>
        <li><a routerLink="/watch"   routerLinkActive="text-white font-medium"
                class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">Watch</a></li>
        <li><a routerLink="/airpods" routerLinkActive="text-white font-medium"
                class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">AirPods</a></li>
        <li><a routerLink="/admin"   routerLinkActive="text-white font-medium"
                class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">Admin Dashboard</a></li>
    </ul>

    <!-- Hamburger Menu Icon -->
    <button id="menu-toggle" class="lg:hidden text-gray-300 hover:text-white transition-all ease-in-out duration-300" (click)="toggleNavbar()">
        <svg class="w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
    </button>

    <!-- Mobile Navbar -->
    <ul id="mobile-menu" class="lg:hidden flex flex-col gap-5 bg-gray-800 text-gray-300 absolute top-full right-0 w-56 px-4 py-2 z-20"
        [class.hidden]="!showMenu">
        <li><a routerLink="/mac"        routerLinkActive="text-white font-medium"
                class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">MacBook</a></li>
        <li><a routerLink="/ipad"       routerLinkActive="text-white font-medium"
                class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">iPad</a></li>
        <li><a routerLink="/iphone"     routerLinkActive="text-white font-medium"
                class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">iPhone</a></li>
        <li><a routerLink="/watch"      routerLinkActive="text-white font-medium"
                class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">Watch</a></li>
        <li><a routerLink="/airpods"    routerLinkActive="text-white font-medium"
                class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">AirPods</a></li>
        <li><a routerLink="/admin"      routerLinkActive="text-white font-medium"
                class="cursor-pointer hover:text-white transition-all ease-in-out duration-300 text-gray-300">Admin Dashboard</a></li>
    </ul>
</nav>