<!-- Home Page -->

<main>
    <a routerLink="/iphone">
        <img src="assets/images/banner-iphone.webp" alt="Home Banner iPhone" class="ml-auto mr-auto w-full">
    </a>

    <a routerLink="/mac">
        <img src="assets/images/banner-mac.webp" alt="Home Banner Mac" class="ml-auto mr-auto w-full">
    </a>

    <a routerLink="/watch">
        <img src="assets/images/banner-watch.webp" alt="Home Banner Watch" class="ml-auto mr-auto w-full">
    </a>

    <a routerLink="/ipad">
        <img src="assets/images/banner-ipad.webp" alt="Home Banner iPad" class="ml-auto mr-auto w-full">
    </a>

    <a routerLink="/airpods">
        <img src="assets/images/banner-airpods.webp" alt="Home Banner Airpods" class="ml-auto mr-auto w-full">
    </a>
</main>