<!-- Home Page -->
<main class="min-h-screen">
    <!-- Iphone Banner -->
    <section class="flex items-center justify-center h-screen bg-fixed bg-center bg-cover bg-iphone-banner">
        <a routerLink="/iphone" class="block text-decoration-none">
            <div class="p-3 text-lg md:p-5 md:text-2xl text-white bg-slate-800 bg-opacity-80 rounded-xl cursor-pointer hover:bg-opacity-90 transition duration-500 transform hover:scale-110">
                Explore the latest iPhone
            </div>
        </a>
    </section>

    <!-- MacBook Banner -->
    <section class="flex items-center justify-center h-screen bg-fixed bg-center bg-cover bg-macbook-banner">
        <a routerLink="/mac" class="block text-decoration-none">
            <div class="p-3 text-lg md:p-5 md:text-2xl text-white bg-slate-800 bg-opacity-80 rounded-xl cursor-pointer hover:bg-opacity-90 transition duration-500 transform hover:scale-110">
                Explore the latest MacBook
            </div>
        </a>
    </section>

    <!-- Watch Banner -->
    <section class="flex items-center justify-center h-screen bg-fixed bg-center bg-cover bg-watch-banner">
        <a routerLink="/watch" class="block text-decoration-none">
            <div class="p-3 text-lg md:p-5 md:text-2xl text-white bg-slate-800 bg-opacity-80 rounded-xl cursor-pointer hover:bg-opacity-90 transition duration-500 transform hover:scale-110">
                Explore the latest Apple Watch
            </div>
        </a>
    </section>

    <!-- Ipad Banner -->
    <section class="flex items-center justify-center h-screen bg-fixed bg-center bg-cover bg-ipad-banner">
        <a routerLink="/ipad" class="block text-decoration-none">
            <div class="p-3 text-lg md:p-5 md:text-2xl text-white bg-slate-800 bg-opacity-80 rounded-xl cursor-pointer hover:bg-opacity-90 transition duration-500 transform hover:scale-110">
                Explore the latest iPad
            </div>
        </a>
    </section>

    <!-- Airpods Banner -->
    <section class="flex items-center justify-center h-screen bg-fixed bg-center bg-cover bg-airpods-banner">
        <a routerLink="/airpods" class="block text-decoration-none">
            <div class="p-3 text-lg md:p-5 md:text-2xl text-white bg-slate-800 bg-opacity-80 rounded-xl cursor-pointer hover:bg-opacity-90 transition duration-500 transform hover:scale-110">
                Explore the latest Airpods
            </div>
        </a>
    </section>
</main>