<!-- Home Page -->
<main>
    <!-- Iphone Banner -->
    <a routerLink="/iphone" class="parallax" style="background-image: url('assets/images/banner-iphone.webp');"
        title="Home Banner iPhone">
    </a>
    <!-- Mac Banner -->
    <a routerLink="/mac" class="parallax" style="background-image: url('assets/images/banner-mac.webp');"
        title="Home Banner Mac">
    </a>
    <!-- Watch Banner -->
    <a routerLink="/watch" class="parallax" style="background-image: url('assets/images/banner-watch.webp');"
        title="Home Banner Watch">
    </a>
    <!-- Ipad Banner -->
    <a routerLink="/ipad" class="parallax" style="background-image: url('assets/images/banner-ipad.webp');"
        title="Home Banner iPad">
    </a>
    <!-- Airpods Banner -->
    <a routerLink="/airpods" class="parallax" style="background-image: url('assets/images/banner-airpods.webp');"
        title="Home Banner Airpods">
    </a>
</main>