@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-primary: "Montserrat", sans-serif;
}

* {
    font-family: var(--font-primary);
    -ms-overflow-style: none;
    scrollbar-width: none;

    -webkit-scrollbar {
        display: none;
    }
}

form,
input,
textarea,
select,
button,
label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    resize: none
}